@import url('https://fonts.googleapis.com/css?family=Unica+One|Ubuntu:300|Quicksand:500');
$ubuntu: 'Ubuntu',
sans-serif;
$numero: 'Unica One',
cursive;
$master: 'Quicksand',
sans-serif;
$roxo: #a81fe3;
$prata: #e2d4e7;
$dourado: #d5a878;
$amarelo: #f89e1b;
$vermelho: #e41b24;
html,
body {
    width: 100%;
    height: 100%;
    background: #82389e;
    overflow: hidden;
}

.crt {
    background: $roxo;
    width: 300px;
    height: 190px;
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 30px 30px 0 30px;
    box-sizing: border-box;
}

.logo {
    position: absolute;
    top: 18px;
    left: 95px;
    height: 44px;
    width: 58px;
    .obj1,
    .obj2 {
        position: relative;
        top: 0;
        right: 0;
        box-sizing: border-box;
        .curva1,
        .curva2 {
            box-sizing: border-box;
            position: absolute;
            border: 2px solid #bbb;
        }
        .curva1 {
            top: 10px;
            left: 0;
            border-bottom: 0;
            width: 20px;
            height: 30px;
            border-radius: 8px 8px 0 0;
            &::before {
                content: '';
                position: absolute;
                bottom: -2px;
                left: -2px;
                width: 7px;
                height: 8px;
                border: 2px solid #bbb;
                border-top: 0;
                border-radius: 0 0 2px 2px;
            }
        }
        .curva2 {
            top: 2px;
            left: 9px;
            border-bottom: 0;
            width: 20px;
            height: 38px;
            border-radius: 7px 17px 0 0;
            &::before {
                content: '';
                position: absolute;
                bottom: -2px;
                right: -2px;
                width: 7px;
                height: 8px;
                border: 2px solid #bbb;
                border-top: 0;
                border-radius: 0 0 2px 2px;
            }
        }
    }
    .obj2 {
        position: absolute;
        bottom: -8px;
        right: -3px;
        transform: rotate(180deg);
    }
}

.marca {
    position: absolute;
    top: 35px;
    right: 90px;
    font-family: $ubuntu;
    font-size: 23px;
    color: #bbb;
}

.chip {
    position: relative;
    top: 28px;
    left: 0;
    background: $dourado;
    height: 32px;
    width: 42px;
    border: 1px solid #776c58;
    border-radius: 5px;
    overflow: hidden;
    .trilha1,
    .trilha2,
    .trilha3,
    .trilha4 {
        position: absolute;
        top: 0;
        left: 0;
        height: 50px;
        width: 50px;
        border: 1px solid #776c58;
        border-radius: 11px;
    }
    .trilha1 {
        top: -40px;
        left: -22px;
    }
    .trilha2 {
        top: -26px;
        left: -38px;
    }
    .trilha3 {
        top: 22px;
        left: 16px;
    }
    .trilha4 {
        top: 6px;
        left: 32px;
    }
}

.numero {
    font-size: 22px;
    position: absolute;
    bottom: 68px;
    left: 30px;
}

.numero,
.inicial,
.validade,
.nome {
    font-family: $numero;
    color: $prata;
    text-shadow: -1px 2px 1px #5b00a5;
    letter-spacing: 2px;
    word-spacing: 4px;
}

.inicial,
.validade,
.nome {
    font-size: 16px;
}

.data {
    display: flex;
    .inicial,
    .validade {
        position: absolute;
        bottom: 40px;
    }
    .inicial {
        left: 40px;
    }
    .validade {
        left: 134px;
        width: 50px;
    }
}

.validade {
    position: relative;
    &::before {
        width: 70px;
        word-spacing: normal;
        font-size: 5px;
        font-family: $master;
        content: 'VALID THRU';
        color: #aaa;
        text-shadow: none;
        position: absolute;
        top: -7px;
        left: -3px;
    }
}

.nome {
    position: absolute;
    bottom: 10px;
    width: 180px;
}

.masterCrt {
    display: flex;
    position: absolute;
    right: 15px;
    bottom: 25px;
    &::after {
        font-family: $master;
        content: 'mastercard.';
        color: #fff;
        font-size: 11px;
        position: absolute;
        bottom: -15px;
        right: 0;
    }
    .elipseV {
        height: 40px;
        width: 40px;
        background: $vermelho;
        border-radius: 20px;
        position: absolute;
        right: 25px;
        z-index: 1;
    }
    .elipseL {
        height: 40px;
        width: 40px;
        background: rgba(255, 0, 0, 0.3);
        border-radius: 20px;
        position: absolute;
        right: 25px;
        z-index: 3;
    }
    .elipseA {
        height: 40px;
        width: 40px;
        background: $amarelo;
        border-radius: 20px;
        z-index: 2;
    }
}

.by {
    font-family: 'Ubuntu', sans-serif;
    position: fixed;
    bottom: 20px;
    text-align: center;
    width: 100%;
    a {
        text-decoration: none;
        color: #fff;
        transition: all .5s;
        &:hover {
            color: #aaa;
        }
    }
}